/vendor/
/node_modules/
/bootstrap/cache/*.php
/public/storage
/public/hot
/.env
/.env.*
/storage/*.key
/.idea
/.vscode
/.DS_Store
npm-debug.log*
yarn-error.log*
*.log
coverage/
.env.backup
composer.lock # optional; keep if you want locked deps
